@import '~@angular/material/core/theming/all-theme';
@import '../theme';

@include md-core();
@include angular-material-theme($theme);

duck-app {
  display: block;
  height: 100%;

  > md-sidenav-layout {
    height: 100%;
    overflow: auto;
  }
}

.app-toolbar {
  position: relative;

  .toolbar-title {
     position: absolute;
     text-align: center;
     line-height: 64px;
     vertical-align: middle;
     left: 0;
     top: 0;
     right: 0;
     bottom: 0;
  }
}

.app-nav {
  width: 200px;

  a.active {
    color: md-color($primary);
  }
}