:host {
  text-align: center;
}

img {
  max-width: 100%;
  max-height: calc(100vh - 131px);
  margin: auto;
  display: block;
}

button {
  background-color: #ff5252;
  color: white;
  margin: 8px;
}
