@import '~@angular/material/theming';

$primary: mat-palette($mat-blue);
$accent: mat-palette($mat-amber, A200, A100, A400);
$warn: mat-palette($mat-red);

$theme: mat-light-theme($primary, $accent, $warn);
$dark-theme: mat-dark-theme($primary, $accent, $warn);
